{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="{% static 'app.css' %}">

        <title>FOTOBLOG</title>
    </head>
    <body class='body'>
        <div class='sidebar'>
            <h1>FOTOBLOG</h1>

            {% if user.is_authenticated %}

                <h4>Hey! {{user.username | capfirst}}</h4>

                {% if user.profile_photo %}
                    <div class='profile-container'>
                        <img class= 'avatar' src={{user.profile_photo.url}}>
                    </div>
                    
                {% else %}
                    <div>
                        <img class='avatar' src="{% static 'images/default_profile.png' %}">
                    </div>
                   
                {% endif %}

                <p><a href="{% url 'home' %}">HOME</a></p>
                <p><a href="{% url 'createpost' %}">Create Post</a></p>
                <p><a href='{% url "profile_photo" %}' >Change Profile Photo</a></p>
                {% if perms.blog.add_photo %}
                    <p><a href='{% url "photo_upload" %}'>Upload Photo</a></p>
                {% endif %}
                <p><a href="{% url 'logout' %}">LOGOUT</a></p>

            {% endif %}
        </div>
        
        <div class='main'>
            {% block content %} {% endblock content %}
        </div>
    </body>
</html>